---
const { title = "Astro Blog", description = "A blog built with Astro, Vue, and Laravel." } = Astro.props;
const url = Astro.site;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={url} />

    <!-- OpenGraph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
  </head>
  <body font-sans m-4>
    <slot />
  </body>
</html>
